.logo {
    height: 130px;
    width: 200px;
    
}


.card-img-top {
    height: 250px;
    object-fit: contain;
    padding: 20px;
}

.navbar, #layoutSidenav_nav {
    background-color: #b4debe !important;
}

card-img-top:hover{
    transform: scale(1.2);
    transition-duration: 1.4s;

}


.bg-verdinho {
    background-color: #dff2e9 !important;
}