.logo {
    height: 70px;
    width: 190px;
}


.card-img-top {
    height: 250px;
    object-fit: contain;
    padding: 20px;
}

.navbar {
    background-color: #f2fcec;
}

card-img-top:hover{
    transform: scale(1.2);
    transition-duration: 1.4s;

}
